body {
--vamtam-body-link-regular:var(--vamtam-accent-color-6);
--vamtam-body-link-visited:var(--vamtam-accent-color-6);
--vamtam-body-link-hover:var(--vamtam-accent-color-2);
--vamtam-body-link-active:var(--vamtam-accent-color-2);
--vamtam-body-background-color:var(--vamtam-accent-color-5);
--vamtam-input-border-radius:0px 0px 0px 0px;
--vamtam-btn-text-color:var(--vamtam-accent-color-6);
--vamtam-btn-hover-text-color:var(--vamtam-accent-color-5);
--vamtam-btn-bg-color:var(--vamtam-accent-color-1);
--vamtam-btn-hover-bg-color:var(--vamtam-accent-color-6);
--vamtam-site-max-width:1260px;
--vamtam-primary-font-color:#7B7E85;
--vamtam-h1-color:#201E25;
--vamtam-h2-color:#201E25;
--vamtam-h3-color:#201E25;
--vamtam-h4-color:#201E25;
--vamtam-h5-color:#201E25;
--vamtam-h6-color:#201E25;
--vamtam-accent-color-1:#FFC107;
--vamtam-accent-color-1-hc:#000000;
--vamtam-accent-color-1-rgb:255,193,7;
--vamtam-accent-color-2:#005BB9;
--vamtam-accent-color-2-hc:#FFFFFF;
--vamtam-accent-color-2-rgb:0,91,185;
--vamtam-accent-color-3:#F7F8FD;
--vamtam-accent-color-3-hc:#000000;
--vamtam-accent-color-3-rgb:247,248,253;
--vamtam-accent-color-4:#E9E9EC;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:233,233,236;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#201E25;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:32,30,37;
--vamtam-accent-color-7:#F7F8FD;
--vamtam-accent-color-7-hc:#000000;
--vamtam-accent-color-7-rgb:247,248,253;
--vamtam-accent-color-8:#7E8188;
--vamtam-accent-color-8-hc:#FFFFFF;
--vamtam-accent-color-8-rgb:126,129,136;
--vamtam-sticky-header-bg-color:#F7F8FD;
--vamtam-primary-font-font-family:'Montserrat';
--vamtam-primary-font-font-weight:normal;
--vamtam-primary-font-font-style:normal;
--vamtam-primary-font-transform:none;
--vamtam-primary-font-decoration:none;
--vamtam-primary-font-font-size-desktop:16px;
--vamtam-primary-font-font-size-tablet:16px;
--vamtam-primary-font-font-size-phone:15px;
--vamtam-primary-font-line-height-desktop:1.7;
--vamtam-primary-font-line-height-tablet:1.7;
--vamtam-primary-font-line-height-phone:1.7;
--vamtam-primary-font-letter-spacing-desktop:0.2px;
--vamtam-primary-font-letter-spacing-tablet:0.2px;
--vamtam-primary-font-letter-spacing-phone:0.2px;
--vamtam-h1-font-family:'Libre Baskerville';
--vamtam-h1-font-weight:bold;
--vamtam-h1-font-style:normal;
--vamtam-h1-transform:none;
--vamtam-h1-decoration:none;
--vamtam-h1-font-size-desktop:42px;
--vamtam-h1-font-size-tablet:36px;
--vamtam-h1-font-size-phone:28px;
--vamtam-h1-line-height-desktop:1.4;
--vamtam-h1-line-height-tablet:1.4;
--vamtam-h1-line-height-phone:1.4;
--vamtam-h1-letter-spacing-desktop:0.2px;
--vamtam-h1-letter-spacing-tablet:0.2px;
--vamtam-h1-letter-spacing-phone:0.1px;
--vamtam-h2-font-family:'Montserrat';
--vamtam-h2-font-weight:bold;
--vamtam-h2-font-style:normal;
--vamtam-h2-transform:none;
--vamtam-h2-decoration:none;
--vamtam-h2-font-size-desktop:34px;
--vamtam-h2-font-size-tablet:30px;
--vamtam-h2-font-size-phone:21px;
--vamtam-h2-line-height-desktop:1.4;
--vamtam-h2-line-height-tablet:1.5;
--vamtam-h2-line-height-phone:1.5;
--vamtam-h2-letter-spacing-desktop:0.2px;
--vamtam-h2-letter-spacing-tablet:0.2px;
--vamtam-h2-letter-spacing-phone:0.2px;
--vamtam-h3-font-family:'Montserrat';
--vamtam-h3-font-weight:bold;
--vamtam-h3-font-style:normal;
--vamtam-h3-transform:none;
--vamtam-h3-decoration:none;
--vamtam-h3-font-size-desktop:26px;
--vamtam-h3-font-size-tablet:24px;
--vamtam-h3-font-size-phone:18px;
--vamtam-h3-line-height-desktop:1.4;
--vamtam-h3-line-height-tablet:1.5;
--vamtam-h3-line-height-phone:1.5;
--vamtam-h3-letter-spacing-desktop:0.2px;
--vamtam-h3-letter-spacing-tablet:0.2px;
--vamtam-h3-letter-spacing-phone:0.2px;
--vamtam-h4-font-family:'Montserrat';
--vamtam-h4-font-weight:bold;
--vamtam-h4-font-style:normal;
--vamtam-h4-transform:none;
--vamtam-h4-decoration:none;
--vamtam-h4-font-size-desktop:20px;
--vamtam-h4-font-size-tablet:20px;
--vamtam-h4-font-size-phone:18px;
--vamtam-h4-line-height-desktop:1.4;
--vamtam-h4-line-height-tablet:1.4;
--vamtam-h4-line-height-phone:1.6;
--vamtam-h4-letter-spacing-desktop:0.2px;
--vamtam-h4-letter-spacing-tablet:0.2px;
--vamtam-h4-letter-spacing-phone:0.3px;
--vamtam-h5-font-family:'Montserrat';
--vamtam-h5-font-weight:bold;
--vamtam-h5-font-style:normal;
--vamtam-h5-transform:none;
--vamtam-h5-decoration:none;
--vamtam-h5-font-size-desktop:16px;
--vamtam-h5-font-size-tablet:16px;
--vamtam-h5-font-size-phone:15px;
--vamtam-h5-line-height-desktop:1.4;
--vamtam-h5-line-height-tablet:1.5;
--vamtam-h5-line-height-phone:1.6;
--vamtam-h5-letter-spacing-desktop:0.2px;
--vamtam-h5-letter-spacing-tablet:0.2px;
--vamtam-h5-letter-spacing-phone:0.3px;
--vamtam-h6-font-family:'Montserrat';
--vamtam-h6-font-weight:600;
--vamtam-h6-font-style:normal;
--vamtam-h6-transform:uppercase;
--vamtam-h6-decoration:none;
--vamtam-h6-font-size-desktop:12px;
--vamtam-h6-font-size-tablet:12px;
--vamtam-h6-font-size-phone:12px;
--vamtam-h6-line-height-desktop:1.4;
--vamtam-h6-line-height-tablet:1.5;
--vamtam-h6-line-height-phone:1.25;
--vamtam-h6-letter-spacing-desktop:0.2px;
--vamtam-h6-letter-spacing-tablet:0.3px;
--vamtam-h6-letter-spacing-phone:1px;
--vamtam-icon-arrow-bottom:'\e900';
--vamtam-icon-arrow-left:'\e901';
--vamtam-icon-arrow-right:'\e902';
--vamtam-icon-arrow-top:'\e903';
--vamtam-icon-checkmark:'\e904';
--vamtam-icon-plus:'\e60e';
--vamtam-icon-close:'\e905';
--vamtam-icon-id-catd:'\e906';
--vamtam-icon-porter:'\e907';
--vamtam-icon-credit-card:'\e908';
--vamtam-icon-croissant:'\e909';
--vamtam-icon-documents:'\e90a';
--vamtam-icon-calculator:'\e90b';
--vamtam-icon-luggage:'\e90c';
--vamtam-icon-drink:'\e90d';
--vamtam-icon-gym:'\e90e';
--vamtam-icon-hotel:'\e90f';
--vamtam-icon-telephone:'\e910';
--vamtam-icon-worldwide:'\e911';
--vamtam-icon-help:'\e912';
--vamtam-icon-pointer:'\e913';
--vamtam-icon-envelope:'\e0db';
--vamtam-icon-paper-plane:'\e0dc';
--vamtam-icon-smartphone:'\e914';
--vamtam-icon-arrow-up-border:'\e0b1';
--vamtam-icon-arrow-right-border:'\e0b2';
--vamtam-icon-arrow-left-border:'\e0b3';
--vamtam-icon-arrow-down-border:'\e0b4';
--vamtam-icon-check-border:'\e0b9';
--vamtam-icon-close-border:'\e0bb';
--vamtam-icon-plus-border:'\e0dd';
}